<div style="width: 100%; height: 100%; text-align: center;">
  <h1 class="google-font">
    <span style="color: #4885ed">G</span>
    <span style="color: #db3236">o</span>
    <span style="color: #f4c20d">s</span>
    <span style="color: #4885ed">i</span>
    <span style="color: #3cba54">a</span>
    <span style="color: #db3236">k</span>
  </h1>
  <div>
    <mat-form-field class="search-form" floatLabel="never" (keyup.enter)="enter()">
      <input matInput placeholder="Search Gosiak or type a URL" [value]="query" (input)="query = $event.target.value">
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>mic</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

